<!DOCTYPE html>
<html>

  <head>
    <title><%= name%> - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>


<body background="../images/pattern.svg">
  <div class="card mx-auto bg-white text-light">

      <img class="card-img" src="../images/hp.jpg" alt="Card image">
      <div class="card-img-overlay">
<<<<<<< HEAD
          <% include header.ejs %>

          <p class="card-title font-weight-bold text-center text-warning"><br /><br /><br /><br /><br /><font size="10"><%= title %></font></p>
          <p class="card-text text-center text-warning font-weight-bold"><font size="5">Create, enhance, and share your cooking skills here!</font></p>
          <p class="card-text text-center text-warning font-weight-bold"><font size="5">Please sign in!</font></p>

=======
          <h1 class="card-title font-weight-bold text-center text-warning p-lg-5 mt-5">Welcome to <%= name %>!</h1>
          <!--<p class="card-text text-center font-weight-bold p-1"><%= title %></p>-->
          <p class="card-text text-center text-warning font-weight-bold p-3">Create, enhance, and share your cooking skills here!</p>
>>>>>>> 61f72f75b84c5dedeaf0765b7e10dca7c5dac13f
          <!--<p class="card-text">Last updated 3 mins ago</p>-->
      </div>
  </div>


</body>

</html>