<!DOCTYPE html>
<html>

<head>
    <title><%= name%>-<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<script>
    document.addEventListener('error', function(e) {
        console.log(e);
    }, true);

    if (e) {
        imgpath = '../profileimgs/default';
    }
</script>

<% include ../header.ejs %>

<body background="../images/pattern.svg">

<!--<h1 class = "font-weight-bold p-3" style="margin-left: 4.5em"><%= title %></h1>-->
<!--<div class="w-75 font-weight-light mx-auto">Username: <%= user.username%></div>-->
<!--<div class="w-75 font-weight-light mx-auto">Description: <%= user.description%></div>-->
<!--<div class="w-75 font-weight-light mx-auto">Profile Image</div>-->

<div class="container-fluid" style="padding: 10px; text-align:center; background-image:url('../images/personalhomepage.jpg');background-size:100% 100%;">
    <img class="img-thumbnail img-circle" style="width: 140px;margin: 0 auto"  src=<%= imgpath %>>
    <p>
    <h5 class="text-center" style="font-size:250%;font-weight:600;color:#FFA500"><%= user.username%><br><small><%= user.description%></small></h5>
    </p>
    <p>
        <button class="btn btn-small" type="button">New post</button>
        <button class="btn btn-small" type="button">Modify info</button>
    </p>
</div>
<div class="container-fluid" style="padding: 10px">
    <div class="row">
        <div class="col-2" style="text-align:right">
            <p>
                <a href="./profile" class="btn btn-warning active" aria-pressed="true" role="button" style="width:75%">My Posts</a><br>
                <a href="./mycomment" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Comments</a><br>
                <a href="./myfollowing" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Followings</a><br>
                <a href="./myfollower" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Followers</a><br>
                <a href="./mylike" class="btn btn-warning" aria-pressed="true" role="button" style="width:75%">My Likes</a>
            </p>

        </div>
        <div class="col-10">
            <div class="container-fluid" style="padding:10px">
                <div class="list-group mx-auto w-75">

                    <% for (var i = 0; i < 2; i++) { %>
                    <a href="../ingredientSec/post1" class="list-group-item list-group-item-action flex-column align-items-start" style="background-color:#FFCC00;margin-top: 10px;height:320px">
                        <div class="d-flex w-80 justify-content-between">
                            <img src="../images/pic.jpg" style="width:315px;height:270px">
                            <h5 class="mb-1">title</h5>
                            <small>time</small>

                        </div>
                        <p class="mb-1" style="text-align:right">author name</p>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</div>
<% include ../cprt.ejs %>

<!--<img src= <%= imgpath %>>-->

</body>

</html>